@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
    --theme-color-primary: #4a6fff;
    --theme-color-secondary: #b76bff;
    --black: #000000;
    --white: #ffffff;
    --theme-gradient-button: linear-gradient(135deg, var(--theme-color-secondary), var(--theme-color-primary));
    --theme-gradient-icon: linear-gradient(135deg, var(--theme-color-primary), var(--theme-color-secondary));
    --theme-gradient-text: linear-gradient(90deg, var(--theme-color-secondary), var(--theme-color-primary));
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: var(--white);
    color: var(--black);
}

/* Navbar */
.navbar{
    background: var(--theme-gradient-icon) !important;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);    
}

/* Tùy chỉnh slideBar */
.sidebar{
    position: fixed;
    top: 56px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    padding: 48px 0 0;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.1);
    background-color: var(--white);
}

.sidebar .nav-link{
    font-weight: 500;
    color: var(--black);
    transition: all 0.3s;
}

.sidebar .nav-link:hover{
    color: var(--theme-color-primary);
    background-color: var(--white);
}

.sidebar .nav-link.active{
    color: var(--white);
    background: var(--theme-gradient-button);
    font-weight: 600;
    border-radius: 5px;
    margin-right: 10px;
}