.TabBar {
    float: right;
    font-size: medium;
    color: black;
    padding: 2%;
    font-family: 'Courier New', Courier, monospace;
}

.ThanhTab {
    color: black;
    justify-content: left;
    background-color: #019818;
    overflow: hidden;
}

.ThanhTab img {
    size: 1px;

}

.ThanhTab a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
    transition: background 0.8s;
}

.ThanhTab a:hover {
    background-color: #07bb22;
}

/* Khi tab đang active */
.ThanhTab a.active {
    background-color: #04AA6D;
}