/* Đặt biến 
Thương */
:root {
    --theme-color-primary: #4a6fff;
    --theme-color-secondary: #b76bff;
    --black: #000000;
    --white: #ffffff;
    --theme-gradient-button: linear-gradient(135deg, var(--theme-color-secondary), var(--theme-color-primary));
    --theme-gradient-icon: linear-gradient(135deg, var(--theme-color-primary), var(--theme-color-secondary));
    --theme-gradient-text: linear-gradient(90deg, var(--theme-color-secondary), var(--theme-color-primary));
}

body {
    margin: 0;
    background-color: var(--white);
    font-family: 'Poppins', sans-serif;
}

/* Head phan loop va chuc nang */
/* Đã */
.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    padding: 10px;
    gap: 10px;
    box-sizing: border-box;
}

/* Đã */
header {
    width: 100%;
    background-color: var(--black);
    color: var(--white);
    height: 30px;
    box-sizing: border-box;
}

/* Đã */
.content {
    max-width: 1200px;
    margin: 0 auto;
}

/* Đã */
@keyframes scroll-left {
    0% {
        transform: translateX(100%);
    }

    30% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-180%);
    }
}

/* Đã */
.head-left {
    max-width: 60%;
    overflow: hidden;
}

/* Đã */
.head-right {
    display: flex;
    gap: 20px;
    white-space: nowrap;
    max-width: 40%;
    overflow: hidden;
    justify-self: flex-end;
}

/* Đã */
.head-scroll {
    animation: scroll-left 25s linear infinite;

    display: flex;
    gap: 20px;
    white-space: nowrap;
}

/* Đã */
.head-right a {
    white-space: nowrap;
    text-decoration: none;
    color: var(--white);
    font-size: 13px;
    transition: color 0.2s ease;
}

/* Đã */
.head-right a:hover {
    color: var(--theme-color-primary);
    transform: scale(1.1);
    transition: color 0.2s ease, transform 0.2s ease;
}

/* Đã */
nav {
    box-shadow: 0 2px 10px rgba(147, 121, 255, 0.05);
    box-sizing: border-box;
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 98;
}

/* Đã */
.nav-container {
    display: flex;
    padding: 0 15px;
    align-items: center;
    justify-content: space-between;
}

/* khối chứa logo */
.nav-left {
    max-width: 40%;
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 15px 25px;
    box-sizing: border-box;
}

/* Đã */
.nav-right {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    max-width: 60%;
    white-space: nowrap;
    align-items: center;
}

/* Đã */
.a-nodecor {
    text-decoration: none;
}

/* Đã */
.logo-wave {
    display: flex;
    gap: 5px;
    align-items: center;
    width: 40px;
    height: 40px;
    background: var(--theme-gradient-button);
    justify-content: center;
    border-radius: 50%;
    flex-shrink: 0;
}

/* Đã */
.logo-text {
    font-size: 24px;
    font-weight: bolder;
    background: var(--theme-gradient-button);
    background-clip: text;
    color: transparent;
}

/* Đã */
.sound-wave {
    background-color: white;
    width: 4px;
    border-radius: 2px;
    animation: wave 1.3s infinite ease;
}

/* Đã */
@keyframes wave {

    0%,
    40%,
    100% {
        transform: scaleY(0.5);
    }

    20% {
        transform: scaleY(1.0);
    }
}

/* Đã */
.wave1 {
    height: 10px;
    animation-delay: -1.1s;
}

/* Đã */
.wave2 {
    height: 20px;
    animation-delay: -1.0s;
}

/* Đã */
.wave3 {
    height: 10px;
    animation-delay: -0.9s;
}

/*  */
.mobile-menu-item .nav-login-btn {
    background-color: var(--theme-color-primary);
    padding: 5px 10px;
    border-radius: 33px;
    color: var(--white);
}
 
.mobile-menu-item .nav-login-btn:hover {
    background: var(--theme-gradient-button);
    transform: scale(1.02);
    padding: 5px 10px;
    transition: color 0.3s ease, transform 0.2s ease;
    color: var(--white);
}



#hamburger-icon {
    display: none;
    font-size: 20px;
    cursor: pointer;
    color: var(--theme-color-primary);
    margin-left: 10px;
    transition: all 0.5s ease;
}

#hamburger-icon:hover {
    color: var(--theme-color-secondary);
    transform: scale(1.3);
}

.searchBar {
    display: flex;
    align-items: center;
    height: 30px;
    width: 50px;
    border-radius: 70px;
    background-color: var(--white);
    padding: 10px 15px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    transition: 0.5s ease-out;
    overflow: hidden;
}

.searchBar input {
    width: 0;
    opacity: 0;
    height: 100%;
    border: none;
    outline: none;
    font-size: 12px;
    font-weight: 400;
    transition: width 0.4s ease-out, opacity 0.3s ease-out;
}

.login:hover {
    box-shadow: lightgrey 0 2px 5px;
    transform: scale(1.1);
    background: var(--theme-gradient-icon);
}

.login {
    transition: all 0.5s ease;
    background: var(--theme-gradient-button);
    color: var(--white);
    padding: 5px 10px;
    border-radius: 15px;
}

.cart {
    box-sizing: border-box;
    transition: all 0.5s ease;
    color: var(--theme-color-primary);
    padding: 5px 10px;
    border-radius: 15px;
}


.cart:hover {
    box-shadow: lightgrey 0 2px 5px;
    border: var(--theme-color-primary) 1px solid;
    color: var(--theme-color-primary);
    font-weight: 200;
}


.searchBar:hover,
.searchBar.active {
    width: 250px;
}

.searchBar:hover input,
.searchBar.active input {
    width: 100%;
    opacity: 1;
}

.searchBar i {
    cursor: pointer;
    font-size: 15px;
    color: var(--theme-color-primary);
    margin-left: 10px;
}



@media (max-width: 700px) {
    .head-right {
        display: none;
    }

    .head-left {
        width: 100%;
    }

    .searchBar,
    #nav-cart {
        display: none;
    }

    #hamburger-icon {
        display: block;
    }

    .nav-login-btn {
        font-size: 15px;
        white-space: nowrap;
        padding: 0;
    }

    nav {
        padding-left: 15px;
        padding-right: 15px;
    }

    .mobile-menu-item .searchBar {
        display: flex;
    }
}


.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.overlay.active {
    opacity: 1;
    visibility: visible;
}

.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 300px;
    max-width: 50%;
    height: 100%;
    background-color: #ffffff;
    z-index: 100;
    display: flex;
    flex-direction: column;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
}

.mobile-menu.active {
    transform: translateX(0);
}

.mobile-menu-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border-bottom: 1px solid #eee;
}

.mobile-menu-header .logo-text {
    font-size: 20px;
}

#mobile-menu-close {
    font-size: 24px;
    color: #333;
    cursor: pointer;
}


#mobile-menu-close:hover {
    transform: scale(1.1);
    color: var(--theme-color-primary);
    transition: color 0.3s ease, transform 0.3s ease;
}

.mobile-menu-item {
    display: flex;
    justify-content: center;
    padding: 10px 10px;
    border-bottom: 1px solid #eee;

}


.mobile-menu-item a:hover {
    transform: scale(1.1);
    color: var(--theme-color-primary);
    transition: color 0.3s ease, transform 0.3s ease;

}

.mobile-menu-item a {
    text-decoration: none;
    color: #333;
    font-size: 18px;
    display: block;
}

.mobile-menu-item .searchBar {
    width: 300px;
    height: 30px;
    padding: 5px 10px;
    max-width: 90%;
}

.mobile-menu-item .searchBar:hover {
    width: 100%;
}

/* ---Thương END--- */


/* xu li section
Phong */
#home {
    width: 100%;
    height: 90vh;
    /* Ảnh ở đây */
    background: url("img/banner/banner.jpg") center/cover no-repeat;
    background-size: cover;
    background-position: top 10px center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

#home span {
    color: var(--theme-color-primary);
}

h5 {
    font-size: 50px;
}

h1 {
    font-size: 50px;
    font-weight: 700;
}

p {
    font-size: 20px;
    color: var(--black);
    font-weight: 400;
}

/* Đường kẻ ngăn cách */
hr {
    width: 30px;
    height: 3px;
    background-color: var(--black);
}

.line {
    width: 90%;
    height: 5px;
    border-radius: 3px;
    margin: 0 auto;
}

/* --- */
.star {
    padding: 10px 0;
}

.star i {
    font-size: 0.8rem;
    color: goldenrod;
}

.buyNow-button {
    font-size: 0.8rem;
    font-weight: 700;
    border-radius: 30px;
    outline: none;
    border: none;
    background-color: var(--theme-color-primary);
    color: var(--white);
    padding: 5px 20px;
    cursor: pointer;
    text-transform: uppercase;
    transition: all 0.3s ease;
}

.buyNow-button:hover {
    background: var(--theme-gradient-button);
}

#new .one img {
    width: 100%;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

#new .one .details {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition: 0.3s ease;
}

#new .one:hover .details {
    cursor: pointer;
    background-color: rgba(245, 178, 178, 0.5);
}

#new .one .details button {
    display: inline-block;
    background: transparent;
    border: none;
    font-size: 28px;
    font-weight: 500;
    color: var(--theme-color-primary);
    text-transform: uppercase;
    border-bottom: 1px solid var(--theme-color-primary);
    padding: 2.5px;
    transform: translateY(70px);
    transition: 0.3s ease;
}

#new .one .details button:hover {
    color: var(--white);
    border-bottom: 1px solid var(--white);
}

#new .one .details .product-text {
    font-size: 35px;
    color: var(--theme-color-primary);
}

#new .one:nth-child(1) .details {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    text-align: start;
}

#new .one:nth-child(2) .details {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#new .one:nth-child(3) .details {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-end;
    text-align: end;
}

/* Product */
.product {
    cursor: pointer;
    margin-bottom: 2rem;
    padding-bottom: 10px;
    box-shadow: lightgray 0 2px 5px;
    display: block;
    gap: 5px;
}

.product img {
    transition: 0.3s all;
}

.product:hover img {
    opacity: 0.5;
}

.product .buy-btn {
    background-color: var(--theme-color-primary);
    object-fit: contain;
    color: var(--white);
    font-size: 15px;
    border: none;
    font-weight: 500;
    transform: translateY(20px);
    opacity: 0;
    transition: 0.3s all;
    padding: 5px 30px;
    border-radius: 30px;
}


.product:hover .buy-btn {
    transform: translateY(0);
    opacity: 1;
}

#banner {
    width: 100%;
    height: 90vh;
    background: url("img/banner/banner_1.png") center/cover no-repeat;
    background-size: cover;
    background-position: top 10px center;
    background-repeat: no-repeat;

    /* background-attachment: fixed; */

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

}

#banner h4 {
    color: var(--white);
}

#banner h1 {
    color: var(--white);
}

#banner button {
    background-color: var(--theme-color-primary);
    color: var(--white);
    border: none;
    font-size: 15px;
    font-weight: 600;
    padding: 5px 20px;
    border-radius: 30px;
    cursor: pointer;
    text-transform: uppercase;
    transition: all 0.3s ease;
}

#banner button:hover {
    opacity: 0.7;
    background: var(--theme-gradient-button);
    scale: 1.1;
}

#new .one {
    position: relative;
}

.TabBar a {
    text-decoration: none;
    color: inherit;
}

@media (max-width: 700px) {


    .head-right {
        display: none;
    }

    .head-left {
        width: 100%;
    }

    .searchBar,
    .cart {
        display: none;
    }

    #hamburger-icon {
        display: block;
    }

    .nav-login-btn {
        font-size: 15px;
        white-space: nowrap;
        padding: 0;
    }

    nav {
        padding-left: 15px;
        padding-right: 15px;
    }

    .mobile-menu-item .searchBar {
        display: flex;
    }
}

.logo-container {
    display: flex;
    padding: 0 15px;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    font-family: 'Poppins', sans-serif;

}

.logo-container:hover {
    transition: transform 0.3s ease;
    transform: scale(1.1);
}


.logo-icon {
    width: 40px;
    height: 40px;
    margin-right: 8px;
    border-radius: 50%;
    background: var(--theme-gradient-button);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    box-shadow: 0 20px 100px rgba(135, 96, 255);
    flex-shrink: 0;
}

.sound-wave {
    width: 4px;
    background-color: var(--white);
    border-radius: 2px;
    animation: bounce 1.3s infinite ease;
}


@keyframes bounce {

    0%,
    40%,
    100% {
        transform: scaleY(0.5);
    }

    20% {
        transform: scaleY(1.0);
    }
}

/*  */
.wave1 {
    height: 10px;
    animation-delay: -1.1s;
}

/*  */
.wave2 {
    height: 20px;
    animation-delay: -1.0s;
}

/*  */
.wave3 {
    height: 10px;
    animation-delay: -0.9s;
}

.logo-text {
    font-size: 24px;
    font-weight: 600;
    background: var(--theme-gradient-button);
    background-clip: text;
    color: transparent;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.overlay.active {
    opacity: 1;
    visibility: visible;
}

.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 300px;
    max-width: 50%;
    height: 100%;
    background-color: var(--white);
    z-index: 100;
    display: flex;
    flex-direction: column;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
}

.mobile-menu.active {
    transform: translateX(0);
}

.mobile-menu-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border-bottom: 1px solid var(--white);
}

.mobile-menu-header .logo-text {
    font-size: 20px;
}

#mobile-menu-close {
    font-size: 24px;
    color: #333;
    cursor: pointer;
}


#mobile-menu-close:hover {
    transform: scale(1.1);
    color: var(--theme-color-primary);
    transition: color 0.3s ease, transform 0.3s ease;
}

.mobile-menu-item {
    display: flex;
    justify-content: center;
    padding: 10px 10px;
    border-bottom: 1px solid var(--white);

}


.mobile-menu-item a:hover {
    transform: scale(1.1);
    color: var(--theme-color-primary);
    transition: color 0.3s ease, transform 0.3s ease;

}

.mobile-menu-item a {
    text-decoration: none;
    color: #333;
    font-size: 18px;
    display: block;
}

.mobile-menu-item .searchBar {
    width: 300px;
    height: 30px;
    padding: 5px 10px;
    max-width: 90%;
}

.mobile-menu-item .searchBar:hover {
    width: 100%;
}

/* footer */

footer {
    background-color: var(--black);
}

footer h5 {
    color: var(--white);
    font-weight: 700;
    font-size: 1.2rem;
}

footer li {
    padding-bottom: 4px;
}

footer li a {
    font-size: 0.8rem;
    color: #999;
}

footer li a:hover {
    color: var(--white);
}

footer p {
    color: #999;
    font-size: 0.8rem;
}

footer .copyright a {
    color: var(--black);
    width: 38px;
    height: 38px;
    background-color: var(--white);
    display: inline-block;
    text-align: center;
    line-height: 38px;
    border-radius: 50%;
    transition: all 0.3s ease;
    margin: 0 5px;
}

footer .copyright a:hover {
    color: var(--white);
    background: var(--theme-gradient-icon);
}