main {
    width: 1200px;
    margin: 50px auto;
    padding: 20px;
}

.contact-header {
    background: var(--theme-gradient-button);
    width: 100%;
    height: 50vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 14px;
    /* color: var(--white); */
}

.contact-header h2,
.contact-header p {
    color: var(--white);
}




#contact-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #d3d3d3;
    margin: 30px;
    padding: 40px;
    border-radius: 10px;
}

#contact-details .details {
    width: 40%;
}

#contact-details .details span {
    font-size: 16px;
}

#contact-details .details h2 {
    font-size: 32px;
    line-height: 38px;
    padding: 20px 0;

}

#contact-details .details h2 {
    font-size: 16px;
    padding-bottom: 15px;
}

#contact-details .details li {
    list-style: none;
    display: flex;
    padding: 10px 0;
}

#contact-details .details li i {
    font-size: 14px;
    padding-right: 22px;
}

#contact-details .details li p {
    margin: 0;
    font-size: 14px;
}

#contact-details .map {
    width: 55%;
    height: 400px;
}

#contact-details .map iframe {
    width: 100%;
    height: 100%;
}



/* ---- */
#form-details {
    display: flex;
    justify-content: space-between;
    margin: 30px;
    padding: 40px;
    border: 1px solid #d3d3d3;
    border-radius: 10px;
}


#form-details form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#form-details form span {
    font-size: 16px;
}

#form-details form h2 {
    font-size: 32px;
    line-height: 38px;
    padding: 20px 0;
}

#form-details form input,
#form-details form textarea {
    width: 100%;
    padding: 12px 15px;
    outline: none;
    margin-bottom: 20px;
    border-radius: 8px;
    border: 1px solid #d3d3d3;
}

#form-details button {
    background-color: var(--theme-color-primary);
    color: var(--white);
    font-size: 18px;
    border: none;
    font-weight: 500;
    padding: 5px 20px;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-family: 'Poppins', sans-serif;
}

button:hover {
    background: var(--theme-gradient-button);
    transform: scale(1.1);
}

.people div {
    padding-bottom: 25px;
    display: flex;
    align-items: flex-start;
}

.people div img {
    width: 65px;
    height: 65px;
    border-radius: 50%;
    object-fit: cover;
    margin-top: 15px;
}

.people div p {
    margin: 0;
    font-size: 13px;
    line-height: 25px;
}

.people div p span {
    display: block;
    font-size: 16px;
    font-weight: 600;
    color: var(--black);
}
