
.card-body h6 {
    font-weight: bold;

}

.card {
    border-radius: 8px;
    border: none;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.09);
    margin-bottom: 10px;
    overflow: hidden;
}

.card-header {
    background: var(--theme-gradient-icon);
    color: var(--white);
    font-weight: bold;
    padding: 4px 8px;
    border-bottom: none;
}


/* Style chung cho các nút hành động */
.btn-back-to-list,
.btn-update-status,
.btn-save-note {
    background: var(--theme-gradient-button) !important;
    border: none !important;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: white !important;
    transition: all 0.2s ease;
}


/* Thêm hiệu ứng hover */

.btn-back-to-list:hover,
.btn-update-status:hover,
.btn-save-note:hover {
    background: linear-gradient(135deg, #a05bff, #3a5aff) !important;
    transform: translateY(-1px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.btn-gradient-action {
    /* Class này giữ lại để tránh xung đột với các class cụ thể phía trên */
}

.card-header-customer,
.card-header-shipping,
.card-header-products {
    background-color: var(--theme-color-primary);;
}

/* Ghi chú Khách hàng  */
.card-header-customer-note {
    background: var(--theme-gradient-icon) !important;
    color: white !important;
}

/* Ghi chú Nội bộ  */
.card-header-admin-note {
    background: var(--theme-gradient-icon) !important;
    color: white !important;
}

/* Tổng cộng */
.text-gradient-total {
    font-weight: 700;
    background: var(--theme-gradient-text);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* Trạng thái (kích thước) */
.badge-status {
    font-size: 0.9em;
}