.store-container {
    max-width: 1200px;
    margin: 2rem auto;
    background-color: #fff;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

h1 {
    text-align: center;
    margin-bottom: 10px;
}

.store-controls {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 15px;
}

.filter-btn {
    padding: 5px 10px;
    border: 1px solid #ccc;
    background-color: var(--white);
    border-radius: 20px;
    cursor: pointer;
    font-size: 15px;
    transition: all 0.3s ease;
}

.filter-btn:hover {
    background-color: #eee;
}

.filter-btn.active {
    background: var(--theme-gradient-button);
    color: #fff;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
}

.product-card {
    background-color: var(--white);
    border: 1px solid lightgrey;
    border-radius: 8px;
    overflow: hidden;
    text-decoration: none;
    color: #333;
    display: flex;
    flex-direction: column;
    position: relative;

}

.product-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.product-badge {
    position: absolute;
    top: 10px;
    left: 10px;
    color: var(--white);
    background-color: red;
    padding: 3px 8px;
    border-radius: 6px;
    font-size: 12px;
    font-weight: bold;
    z-index: 10;
}

.new-price {
    font-size: 18px;
    font-weight: bold;
    color: red;
}

.old-price {
    font-size: 12px;
    color: gray;
    text-decoration: line-through;
}

.product-bottom-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 12px;
    font-size: 13px;
    color: gray;
    padding-top: 8px;
}

.rating {
    display: flex;
    align-items: center;
    gap: 4px;
}

.rating .bi-star-fill {
    color: #f5c518;
    font-size: 14px;
}

.favorite {
    display: flex;
    align-items: center;
    gap: 4px;
    color: #555;
}

.favorite .bi-heart {
    font-size: 14px;
    color: red;
}

.favorite .bi-heart-fill {
    display: none;
    font-size: 14px;
    color: red;
}

.favorite.active .bi-heart {
    display: none;
}

.favorite.active .bi-heart-fill {
    display: inline-block;
}

.product-card-info h4 {
    font-size: 12px;
    margin-bottom: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    font-weight: bold;
    line-height: 1.2;
    height: calc(1.2em * 2);
}

.product-card img {
    width: 100%;
    object-fit: contain;
    padding: 10px;
    aspect-ratio: 1 / 1;
    box-sizing: border-box;
}

.product-card-info {
    padding: 10px;
    margin-top: auto;
}

.product-card.hidden {
    display: none;
}


.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin-top: 40px;
    margin-bottom: 20px;
    padding-top: 20px;
    border-top: 1px solid #eee;
    width: 100%;
}


.page-btn {
    padding: 10px 15px;
    border: 1px solid #ccc;
    background-color: #fff;
    cursor: pointer;
    border-radius: 5px;
}

.page-btn:hover {
    background-color: #eee;
}

.page-btn.active {
    background-color: #007bff;
    color: #fff;
    border-color: #007bff;
}

/* response */

@media (max-width: 900px) {
    .product-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px) {
    .product-grid {
        grid-template-columns: 1fr;
    }
}