main {
    width: 1200px;
    margin: 50px auto;
    padding: 20px;
}

/*header gradianr*/
.contact-header {
    background: var(--theme-gradient-button);
    width: 100%;
    border-radius: 30px;
    background-size: cover;
    display: flex;
    height: auto;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 10px;
    color: var(--white);
}

/*chu Lien he AS*/
.contact-header h2 {
    font-size: 20px;
}

.fill-info {

}

#form-details {
    margin: 15px;
    padding: 20px;
    border: 1px solid #d3d3d3;
    border-radius: 10px;
}


#form-details form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

/*tbao thanh cong or that bai*/
#form-details form span {
    margin-bottom: 5px;
}

#form-details button {
    background-color: var(--theme-color-primary);
    color: var(--white);
    font-size: 18px;
    border: none;
    font-weight: 500;
    padding: 5px 20px;
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-family: 'Poppins', sans-serif;
}

#form-details button:hover {
    background: var(--theme-gradient-button);
    transform: scale(1.01);
}

#contact-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #d3d3d3;
    margin: 30px;
    padding: 20px;
    border-radius: 10px;
}

#contact-details .details {
    width: 40%;
}


#contact-details .map {
    width: 55%;
    height: 400px;
}


#contact-details .details h2, #contact-details .details li {
    font-size: 16px;
    padding-bottom: 15px;
    line-height: 38px;
    padding: 10px 0;
    display: flex;

}


#contact-details .details li i {
    padding-right: 22px;
    color: var(--theme-color-secondary);
    font-weight: 500;
}

#contact-details .details li p {
    margin: 0;
}


#contact-details .map iframe {
    width: 100%;
    height: 100%;
}



#form-details form input,
#form-details form textarea {
    width: 100%;
    padding: 10px 10px;
    outline: none;
    margin-bottom: 5px;
    border-radius: 8px;
    border: 1px solid #d3d3d3;
}

/*.input-group small{*/
/*    padding-right: 5px;*/
/*    */
/*}*/
/*.input-group {*/
/*    position: relative;*/
/*    margin-bottom: 10px;*/
/*    width: 100%;*/
/*}*/

.input-group.error input,
.input-group.error textarea {
    background-color: #f8eeee;
}

.input-group.success input,
.input-group.success textarea {
    background-color: #f3fff3;
}

.input-group small {
    color: #e74c3c;
    font-size: 13px;
    position: absolute;
    bottom: -22px;
    left: 0;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s;
}

.input-group.error small {
    visibility: visible;
    opacity: 1;
}


.input-group.error small:active {
    visibility: visible;
    opacity: 1;
}

@media (max-width: 1200px) {
    main {
        width: 100%;
        padding: 5px 10px;
        margin: 15px auto;
    }

    #contact-details,
    #form-details {
        margin: 15px 0;
    }
}

@media (max-width: 768px) {

    #form-details button {
        width: 100%;
        padding: 10px;
    }

    #contact-details {
        flex-direction: column;
    }

    #contact-details .details {
        width: 100%;
    }


    #contact-details .map {
        width: 100%;
        height: 400px;
    }

    .contact-header {
        font-size: 14px;
        padding: 10px;
    }

    .contact-header h2 {
        font-size: 18px;
        font-weight: bold;
    }

    #form-details {
        padding: 10px;
    }


    #contact-details {
        margin: 15px 0;
        padding: 20px;
    }

    #contact-details .details h2 {
        font-size: 20px;
    }
}

@media (max-width: 480px) {
    .contact-header {
        min-height: 200px;
        padding: 10px;
    }

    #contact-details .map {
        height: 250px;
    }

    #form-details form input,
    #form-details form textarea {
        padding: 10px;
    }
}
