<?xml version='1.0' encoding='UTF-8'?>
<!--Khai báo với Tomcat để tạo 1 Pool kết nối-->
<Context>
    <Resource name="jdbc/AuraSoundDB"
              auth="Container"
              type="javax.sql.DataSource"
              driverClassName="com.mysql.cj.jdbc.Driver"
              url="jdbc:mysql://localhost:8080/Aurasound_db?useSSL=false&amp;serverTimezone=Asia/Ho_Chi_Minh&amp;allowPublicKeyRetrieval=true"
              username="root"
              password=""
              maxTotal="20"
              maxIdle="10"
              maxWaitMillis="10000"/>
</Context>